<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="">Logout</a>
  </li>
</ul>
<ul class="nav nav-tabs text-left">
  <li class="nav-item">
    <a class="nav-link"  (click)="isActiveInfo()" [class.active]="clicked" routerLink="/info">Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="isActiveUpdate()" [class.active]="!clicked" routerLink="/info">Update</a>
  </li>
</ul>
<div *ngIf="clicked">
  <app-info-user></app-info-user>
</div>
<div *ngIf="!clicked">
  <app-update-info-user></app-update-info-user>
</div>
