<button (click)="show = !show">{{show ? 'update' : 'info'}}</button>
<br>
<div *ngIf="show">
  <div>{{error}}</div>
  <ul>
    <li *ngFor="let user of users">
      <p>ID of user: {{user?.id}}</p>
      <p>Name of user: {{user?.name}}</p>
      <p>Password of user: {{user?.password}}</p>
      <p>Birthday of user: {{user?.birthday}}</p>
      <p>user's date of login: {{user?.dateOfLogin}}</p>
      <p>user's date of notification: {{user?.dateOfNotification}}</p>
      <p>user's description: {{user?.description}}</p>
    </li>
  </ul>
</div>
<div *ngIf="!show">
  <app-update></app-update>
</div>
