<form class="needs-validation justify-content-center" [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="col-md-4 mb-3">
    <label>
      Login:
      <input type="text" class="form-control" formControlName="login" readonly>
    </label>
  </div>
  <div class="col-md-4 mb-3">
    <label>
      Password:
      <input type="text" class="form-control" formControlName="password" placeholder="1234">
    </label>
    <div class="text-danger" *ngIf="profileForm.controls['password'].hasError('Value')">You have to enter password
    </div>
    <div class="text-danger"
         *ngIf="profileForm.controls['password'].hasError('Number') && profileForm.controls['password'].value">You have to use
      only integer numbers
    </div>
    <div class="text-danger" *ngIf="profileForm.controls['password'].hasError('Quantity')">You have to enter four numbers at least
    </div>
    <div class="text-success" *ngIf="profileForm.controls['password'].valid && profileForm.controls['password'].value">Good</div>
  </div>
  <div class="col-md-4 mb-3">
    <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid" (click)="onSubmit()">Login</button>
    <button type="submit" class="btn btn-primary" (click)="getPassword()">Get the password</button>
  </div>
</form>


<div *ngIf="profileForm.valid">GREETING!</div>
<div class="d-block p-2 bg-primary text-white" *ngIf="showInfo">ProfileValues: {{ profileForm.value | json }}</div>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="">Back to login</a>
  </li>
</ul>







