<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
      Name:
      <input type="text" formControlName="name" placeholder="Ivan Ivanov">
    </label>
    <span *ngIf="profileForm.get('name').invalid && (profileForm.get('name').dirty || profileForm.get('name').touched)">Error! Enter one or two words</span>
    <br>
    <label>
      Age:
      <input type="text" formControlName="age" placeholder="18">
    </label>
    <span *ngIf="profileForm.get('age').invalid && (profileForm.get('age').dirty || profileForm.get('age').touched)"> Error! Enter the number from 18 till 65</span>
    <br>
    <label>
       Birthday:
      <input type="text" formControlName="birthday" placeholder="2000-01-01">
    </label>
    <span *ngIf="profileForm.get('birthday').invalid && (profileForm.get('birthday').dirty || profileForm.get('birthday').touched)">Error! Enter date with date format YYYY-MM-DD</span>
    <br>
    <label>
      Date of login:
      <input type="text" formControlName="dateOfLogin" placeholder="2000-01-01">
    </label>
    <span *ngIf="profileForm.get('dateOfLogin').invalid && (profileForm.get('dateOfLogin').dirty || profileForm.get('dateOfLogin').touched)">Error! Enter date with date format YYYY-MM-DD</span>
    <br>
    <label>
      Date of notification:
      <input type="text" formControlName="dateOfNotification" placeholder="2000-01-01">
    </label>
    <span *ngIf="profileForm.get('dateOfNotification').invalid && (profileForm.get('dateOfNotification').dirty || profileForm.get('dateOfNotification').touched)">Error! Enter date with date format YYYY-MM-DD</span>
    <br>
</form>

<button type="submit" [disabled]="!profileForm.valid" (click)="onSubmit()">Submit</button>

<div *ngIf="profileForm.valid">GREETING!</div>
<div *ngIf="showInfo">ProfileValues: {{ profileForm.value | json  }}</div>

<!-- <p> Form Status: {{ profileForm.status }}</p> -->



