<form class="needs-validation" [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="col-md-4 mb-3">
    <label>
      Name:
      <input type="text" class="form-control" formControlName="name" readonly>
    </label>
  </div>
  <div class="col-md-4 mb-3">
    <label>
      Age:
      <input type="text" class="form-control" formControlName="age" readonly>
    </label>
  </div>
  <div class="col-md-4 mb-3">
    <label>
      Birthday:
      <input type="text" class="form-control" formControlName="birthday" readonly>
    </label>
  </div>
  <div class="col-md-4 mb-3">
    <label>
      Date of login:
      <input type="text" class="form-control" formControlName="dateOfLogin" readonly>
    </label>
  </div>
  <div class="col-md-4 mb-3">
    <label>
      Date of notification:
      <input type="text" class="form-control" formControlName="dateOfNotification" readonly>
    </label>
  </div>
</form>


